.section {
  display: grid;
  grid-template-areas:
    "display display controls"
    "display display controls"
    "time_line time_line time_line";
  grid-template-columns: 2fr 2fr 150px;
  grid-template-rows: 2fr 2fr 1fr;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-dark-0);
  gap: 12px;
  padding: 12px;
}

.controls {
  grid-area: controls;
}

.display {
  grid-area: display;
  display: flex;
}
.display > div,
.display > div > div {
  display: flex;
  padding: 0;
  margin-top: 0;
}

.time_line {
  grid-area: time_line;
}

.panel {
  background-color: var(--color-dark-1);
  border-radius: 8px;
}
